{% load static %}
<html>

 <head>

  <title>Django blog</title>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400"
  rel="stylesheet">

  <link href="{% static 'css/base.css' %}" rel="stylesheet">

</head>

 <body>
  <div>

  <header>
    <div class="nav-left">

    <h1><a href="{% url 'home' %}">Django blog</a></h1>
    </div>

    <div class="nav-right">
      <a href="{% url 'post_new' %}">+ New Blog Post</a>
    </div>

  </header>


 	{% block content %}
 
 	{% endblock content %}

  </div>

</body>
</html>


   
